<% // views/partials/avatar-chooser.ejs

/**
 * UserProfile is a browser interface for web site user profiles.
 * Copyright (C) 2017  David Schenck
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

%>
<!-- begin: avatar-chooser --><%
if (uploadFile) { %>
        <div id="avatar-chooser-modal" class="modal" tabindex="-1"><%
} else { %>
        <div id="avatar-chooser-modal" class="modal fade" tabindex="-1"><%
} %>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img id="load-test-image">
                <i id="close-modal-button" class="fa fa-close" title="close dialog window" data-dismiss="modal"></i>
                <div class="drag-and-drop-caption">
                  <i id="drag-and-drop-icon" class="fa fa-info-circle info-blue"></i>
                  <span id="drag-and-drop-label">drag an image from the web, then drop it below, or</span>
                </div><!-- /.drag-and-drop-caption -->
                <div id="avatar-cropper"><%
if (uploadFile) { %>
                  <img id="cropper-image" src="<%= uploadFile %>"><%
} else { %>
                  <img id="cropper-image" src="<%= user.avatar %>"><%
} %>
                  <div id="feedback-label">error: image could not be loaded</div>
                </div><!-- /#avatar-cropper -->
                <div class="flex-container">
                  <div class="flex-item">
                    <div class="input-group">
                      <span class="input-group-btn">
                       <button id="load-url-button" class="btn btn-default btn-primary flex-button">load url</button>
                      </span><!-- /.input-group-btn -->
                      <input id="load-url-input" class="form-control" type="text" placeholder="&#xf05a; paste an internet image url, or">
                    </div><!-- /.input-group -->
                  </div><!-- /.flex-item -->
                  <div class="flex-item">
                    <form action="/user/<%= user._id %>/upload/" method="post" enctype="multipart/form-data">
                      <label id="upload-button" class="btn btn-default btn-primary flex-button"><input id="upload-file-input" name="upload_file" type="file" accept="image/*" class="hidden">upload</label>
                      <span class="flex-label">
                        <i id="upload-icon" class="fa fa-info-circle info-blue"></i>
                        <span id="upload-label">upload an image file</span>
                      </span><!-- /.flex-label -->
                    </form><!-- /form-->
                  </div><!-- /.flex-item -->
                  <div class="flex-item">
                    <button id="done-button" class="btn btn-default btn-primary flex-button">done</button>
                    <span class="flex-label">
                      <i id="done-icon" class="fa fa-info-circle info-blue"></i>
                      <span id="done-label">load, adjust crop, then click done</span>
                    </span><!-- /.flex-label -->
                  </div><!-- /.flex-item -->
                </div><!-- /.flex-container -->
              </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
<!-- end: avatar-chooser -->