<% /* file: views/partials/avatar-chooser.ejs         */ %>

<% if (uploadFile) { %>
    <div id="avatar-chooser-modal" class="modal" tabindex="-1">
<% } else { %>
    <div id="avatar-chooser-modal" class="modal fade" tabindex="-1">
<% } %>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

            <img id="load-test-image">

            <i id="close-modal-button" class="fa fa-close" title="close dialog window" data-dismiss="modal"></i>

            <div class="cropper-caption">
              <i id="cropper-caption-icon" class="fa fa-info-circle info-blue"></i>
              <span id="cropper-caption-label">drag an image, then drop it below, or</span>
            </div><!-- /.cropper-caption -->

            <div id="avatar-cropper">
<% if (uploadFile) { %>
              <img id="cropper-image" src="<%= uploadFile %>">
<% } else { %>
              <img id="cropper-image" src="<%= user.avatar %>">
<% } %>
            </div><!-- /#avatar-cropper -->

            <div id="feedback-label">error: image could not be imported</div>

            <div class="flex-container">

              <div class="flex-item">
                <div class="input-group">
                  <span class="input-group-btn">
                   <button id="load-button" class="btn btn-default btn-primary flex-button">load url</button>
                  </span><!-- /.input-group-btn -->
                  <input id="load-url-input" class="form-control" type="text" placeholder="&#xf05a; paste an internet image url, or">
                </div><!-- /.input-group -->
              </div><!-- /.flex-item -->

              <div class="flex-item">
                <button id="upload-button" class="btn btn-default btn-primary flex-button">upload</button>
                <span class="flex-label">
                  <i id="upload-button" class="fa fa-info-circle info-blue"></i>
                  <span id="upload-bottom-label">upload an image file</span>
                </span><!-- /.flex-label -->
              </div><!-- /.flex-item -->

              <div class="flex-item">
                <button id="done-button" class="btn btn-default btn-primary flex-button">done</button>
                <span class="flex-label">
                  <i id="done-icon" class="fa fa-info-circle info-blue"></i>
                  <span id="done-label">load, adjust crop, then click done</span>
                </span><!-- /.flex-label -->
              </div><!-- /.flex-item -->

            </div><!-- /.flex-container -->

          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
