<! DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/user_profile.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
  
        <div class="navbar-header">
          <a class="navbar-brand" href="/">UserPro</a>
        </div>

<% include ./page-user-list %>
        
        <ul class="nav navbar-nav navbar-right">
<% if (!currentUser) { %>
          <li style="margin-top: 3px;">
            <form class="navbar-form" action="/login" method="post">
              <div class="form-group">
                <input type="text" style="max-width: 140px;" class="form-control input-sm" name="username" placeholder="username">
              </div>
              <div class="form-group">
                <input type="password" style="max-width: 140px;" class="form-control input-sm" name="password" placeholder="password">
              </div>
              <button type="submit" class="btn btn-default btn-xs">Log In</button>
            </form>
          </li>
          <li><a href="/new">Sign Up</a></li>
<% } else { %>
          <li class="user-brand">Signed in as</li>
          <li><a href="/<%= currentUser._id %>"><%= currentUser.username %></a></li>
          <li><a href="/logout">Log Out</a></li>
  <% } %>
        </ul>
  
      </div>
    </nav>
