<% /* file: views/partials/view-header.ejs            */ %>
<!-- begin: view-header -->
<! DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <link href="/styles/user-profile.css" rel="stylesheet">
    <link href="/styles/debug-only.css" rel="stylesheet">
  </head>
  <body>
<!-- end: view-header -->
<% include ./navigation-bar %>