<% // views/partials/view-footer.ejs

/**
 * UserProfile is a browser interface for web site user profiles.
 * Copyright (C) 2017  David Schenck
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

%>
<!-- begin: view-footer -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js"></script>
        <script src="/scripts/user-profile.js"></script><%
/**
 * for site-users viewing their own profile and not suspended, include
 * the uploadFile-trigger for the avatar-chooser modal
 */
if (currentUser && user.username === currentUser.username && !user.is_suspended) {
  if (uploadFile) { %>
        <script type="text/javascript">
          $(document).ready(function(){
            modalAvatarChooser.modal('show');
            modalAvatarChooser.addClass('fade');
          });
        </script><%
  }
} %>
  </body>
</html>
<!-- end: view-footer -->