<% /* file: views/partials/view-footer.ejs            */ %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js"></script>
    <script src="/scripts/user_profile.js"></script>

<% /**
    * for site-users viewing their own profile and not suspended, include
    * the uploadFile-trigger for the avatar-chooser modal
    */ %>
<% if (currentUser && user.username === currentUser.username && !user.is_suspended) { %>
  <% if (uploadFile) { %>
    <script type="text/javascript">
      $(document).ready(function(){
        modalAvatarChooser.modal('show');
        modalAvatarChooser.addClass('fade');
      });
    </script>
  <% } %>
<% } %>

  </body>
</html>
