<% /* file: views/landing.ejs                         */ %>

<% include ./partials/view-header %>

    <h1 class="text-center">landing page placeholder</h1>
    <h4 class="text-center">(use the navbar to interact with the app)</h4>

<% include ./partials/view-footer %>
