<% // views/user/new.ejs

/**
 * UserProfile is a browser interface for web site user profiles.
 * Copyright (C) 2017  David Schenck
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

 %><%
include ../partials/view-header %>
    <div class="container new-user-form-container">
      <div class="row text-center">
        <h1>new user form</h1>
        <form id="new-user-form" name="new_user_form" action="/user/new" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="choose username">
          </div><!-- /.form-group -->
          <div class="form-group">
            <input id="password-input" class="form-control" type="password" name="password" placeholder="choose password">
          </div><!-- /.form-group -->
          <div class="form-group">
            <input id="confirm-password-input" class="form-control" type="password" name="confirm_password" placeholder="confirm password">
          </div><!-- /.form-group -->
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <a class="btn btn-primary" href="/user/new/cancel">cancel</a>
              </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-xs-6">
              <div class="form-group">
                <button class="btn btn-primary" onclick="javascript: return submitNewUserForm()">submit</button>
              </div><!-- /.form-group -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </form><!-- /#new-user-form -->
      </div><!-- /.row -->
    </div><!-- /.container --><%
include ../partials/view-footer %>