/**
 * file: public/styles/debug_only.css
 */

/*********************************************************/

.red-debug {
  /** use this class to apply a red 1px-solid border */
  border: 1px solid red !important;
}

.orange-debug {
  /** use this class to apply a orange 1px-solid border */
  border: 1px solid orange !important;
}

.yellow-debug {
  /** use this class to apply a yellow 1px-solid border */
  border: 1px solid yellow !important;
}

.green-debug {
  /** use this class to apply a green 1px-solid border */
  border: 1px solid green !important;
}

.blue-debug {
  /** use this class to apply a blue 1px-solid border */
  border: 1px solid blue !important;
}

.purple-debug {
  /** use this class to apply a purple 1px-solid border */
  border: 1px solid purple !important;
}

.gray-debug {
  /** use this class to apply a gray 1px-solid border */
  border: 1px solid gray !important;
}

.black-debug {
  /** use this class to apply a black 1px-solid border */
  border: 1px solid black !important;
}

/*********************************************************/

.hide-debug {
  /** use this class to hide an element from rendering */
  display: none !important;
}

.block-debug {
  /** use this class to display an element as block */
  display: block !important;
}

.inline-debug {
  /** use this class to display an element as inline */
  display: inline !important;
}

.inline-block-debug {
  /** use this class to display an element as inline-block */
  display: inline-block !important;
}

/*********************************************************/

div {
  /** uncomment below to outline all <div> elements with a colored 1px-solid border */
  /*border: 1px solid red !important;*/
  /*border: 1px solid orange !important;*/
  /*border: 1px solid yellow !important;*/
  /*border: 1px solid green !important;*/
  /*border: 1px solid blue !important;*/
  /*border: 1px solid putple !important;*/
  /*border: 1px solid gray !important;*/
  /*border: 1px solid black !important;*/
}

span {
  /** uncomment below to outline all <span> elements with a colored 1px-solid border */
  /*border: 1px solid red !important;*/
  /*border: 1px solid orange !important;*/
  /*border: 1px solid yellow !important;*/
  /*border: 1px solid green !important;*/
  /*border: 1px solid blue !important;*/
  /*border: 1px solid putple !important;*/
  /*border: 1px solid gray !important;*/
  /*border: 1px solid black !important;*/
}

.row {
  /** uncomment below to outline all bootstrap rows with a colored 1px-solid border */
  /*border: 1px solid red !important;*/
  /*border: 1px solid orange !important;*/
  /*border: 1px solid yellow !important;*/
  /*border: 1px solid green !important;*/
  /*border: 1px solid blue !important;*/
  /*border: 1px solid putple !important;*/
  /*border: 1px solid gray !important;*/
  /*border: 1px solid black !important;*/
}

div[class^="col-"],
div[class*=" col-"] {
  /** uncomment below to outline all bootstrap columns with a colored 1px-solid border */
  /*border: 1px solid red !important;*/
  /*border: 1px solid orange !important;*/
  /*border: 1px solid yellow !important;*/
  /*border: 1px solid green !important;*/
  /*border: 1px solid blue !important;*/
  /*border: 1px solid putple !important;*/
  /*border: 1px solid gray !important;*/
  /*border: 1px solid black !important;*/
}

* {
  /** uncomment below to outline every page element with a colored 1px-solid border */
  /*border: 1px solid red !important;*/
  /*border: 1px solid orange !important;*/
  /*border: 1px solid yellow !important;*/
  /*border: 1px solid green !important;*/
  /*border: 1px solid blue !important;*/
  /*border: 1px solid putple !important;*/
  /*border: 1px solid gray !important;*/
  /*border: 1px solid black !important;*/
}

/*********************************************************/
