/**
 * file: public/styles/user_profile.css
 */

/****  DEBUG SECTION *************************************/

.red-debug {
  border: 1px solid red !important;
}

.orange-debug {
  border: 1px solid orange !important;
}

.yellow-debug {
  border: 1px solid yellow !important;
}

.green-debug {
  border: 1px solid green !important;
}

.blue-debug {
  border: 1px solid blue !important;
}

.purple-debug {
  border: 1px solid purple !important;
}

.grey-debug {
  border: 1px solid grey !important;
}

.black-debug {
  border: 1px solid black !important;
}

/*
* { border: 1px solid black !important; }*/

/*
span { border: 1px solid red !important; }*/

/*
.row { border: 1px solid orange !important; }*/

/*
.display-none { display: none !important; }*/

/*
.display-block { display: block !important; }*/

/*
.display-inline { display: inline !important; }*/

/*
.display-inline-block { display: inline-block !important; }*/

/*
div[class^="col-"], div[class*=" col-"] { border: 1px solid green !important; }*/

/****  DEBUG SECTION ABOVE THIS LINE  ********************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/********************/

body {
  font-family: Cabin, sans-serif;
  padding-top: 50px;
}

/********************/

.btn:focus,
.btn:active {
  outline: none;
}

/********************/

.profile-container {
  margin-top: 10px;
  max-width: 600px;
}

@media (max-width: 767px) {
  .profile-container {
    width: 300px;
  }
}

/********************/

.avatar-container {
  width: 166px;
}

/********************/

.avatar-thumbnail:hover {
  opacity: 0.8;
}

.avatar-thumbnail {
  margin: 0 auto;
  width: 166px;
  height: 166px;
  cursor: pointer;
}

/********************/

#avatar-chooser {
  margin-top: 25px;
}

#test-image {
  display: none;
  width: 0;
  height: 0;
}

#avatar-cropper {
  position: relative;
  max-height: 300px;
  margin: 0 auto;
}

#cropper-image {
  width: 100%;
}

/********************/

.flex-container {
  display: flex;
}

#close-dialog-button {
  cursor: pointer;
}

#done-button {
  padding: 6px 12px;
  max-height: 34px;
  font-size: 1.1em;
}

#info-top-button,
#info-top-label {
  /*margin-top: 20px;*/
  margin-bottom: 8px;
}

#info-top-button {
  margin-top: 20px;
  margin-left: 8px;
}

#info-top-label {
  margin-top: 18px;
  margin-left: 4px;
  line-height: 1.2;
  flex-grow: 2;
  white-space: nowrap;
}

#close-dialog-button {
  margin-top: -2px;
}

/********************/

#feedback-label {
  position: absolute;
  display: none;
  width: 250px;
  left: 50%;
  bottom: 0px;
  margin-left: -125px;
  color: #efef3f;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: -1px 0 #3f3f3f, 0 1px #3f3f3f, 1px 0 #3f3f3f, 0 -1px #3f3f3f;
  z-index: 99;
  white-space: nowrap
}

#info-bottom-button {
  margin-top: 8px;
  margin-bottom: 4px;
}

/*#info-bottom-label{
   */

/*  margin-top: 6px;*/

/*  line-height: 1.4;*/

/*}*/

#upload-file-button,
#edit-image-button {
  border-radius: 4px 0 0 4px;
}

#edit-image-button {
  display: none;
}

/********************/

.inline {
  display: inline;
}

.dimmed {
  opacity: 0.8;
}

.suspended {
  margin: 10px auto;
  color: red;
}

.btn-normalize {
  line-height: 1.6;
  font-size: 0.9em;
}

/********************/

.undo-button {
  visibility: hidden;
  margin-top: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  opacity: 0.6;
}

.form-control {
  font-size: 1em;
  resize: none;
}

.profile-button {
  margin: 6px 6px;
  width: 124px;
}

.profile-content {
  margin-top: 10px;
}

.profile-banner {
  text-align: center;
}

/*************************************/

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-text {
  margin: 13px 4px;
}

.navbar-brand {
  min-width: 140px;
}

.nested-list-header {
  font-size: 18px;
  cursor: pointer;
}

ul.nested-list {
  max-height: 300px;
  overflow-y: scroll;
}

ul.nested-list ul.list-children {
  display: none;
}

ul.nested-list ul.list-children-open {
  display: block;
}

ul.nested-list ul.list-children,
ul.nested-list ul.list-children-open {
  margin-right: 18px;
  white-space: nowrap;
  list-style-type: none;
}

ul.nested-list span.arrow-right,
ul.nested-list span.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
}

ul.nested-list span.arrow-right {
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #337ab7;
}

ul.nested-list span.arrow-down {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 8px solid #337ab7;
}

ul.nested-list li.list-child:hover {
  font-weight: bold;
}

ul.nested-list li.list-child {
  margin-bottom: 2px;
}

ul.nested-list li.list-child>a {
  color: #202020;
  text-decoration: none;
}

ul.nested-list .item-green>a {
  color: green;
}

ul.nested-list .item-red>a {
  color: #d03030;
}

/*************************************/
