/**
 * file: public/styles/user_profile.css
 */

/*************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /*font-family: inherit;*/
}

/*************************************/

body {
  font-family: Cabin, sans-serif, 'FontAwesome';
  padding-top: 50px;
}

.btn:focus,
.btn:active {
  outline: none;
}

.info-blue {
  color: #1f2faf;
}

#app-brand.brand-yellow:hover {
  color: yellow;
}

#app-brand.brand-yellow {
  color: #efdf4f;
}

.inline {
  display: inline;
}

.dimmed {
  opacity: 0.8;
}

.suspended {
  margin: 10px auto;
  color: red;
}

/*************************************/

.navbar-form .form-control {
  max-width: 180px;
}

@media (max-width: 767px) {
  .navbar-form {
    margin-left: 0;
  }
  .navbar-form .btn,
  .navbar-form .form-control {
    margin-top: 4px;
  }
}

/*************************************/

.form-container {
  width: 300px;
}

.profile-container {
  margin-top: 10px;
  max-width: 600px;
}

@media (max-width: 767px) {
  .profile-container {
    width: 300px;
  }
}

.profile-container .undo-button {
  visibility: hidden;
  margin-top: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  opacity: 0.6;
}

.profile-container .form-control {
  font-size: 1em;
  resize: none;
}

.profile-container .profile-content {
  margin-top: 10px;
}

.profile-container #admin-badge {
  display: inline-block;
  padding: 2px 6px;
  margin-right: 6px;
  color: green;
  font-size: 1.2em;
  opacity: 0.8;
}

.profile-container #username-label {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}

.profile-container #report-button:hover {
  opacity: 1;
}

.profile-container #report-button {
  margin-top: 8px;
  padding: 2px;
  opacity: 0.6;
}

/*************************************/

.avatar-container {
  width: 166px;
}

.avatar-container .avatar-thumbnail.editable:hover {
  opacity: 0.8;
  cursor: pointer;
}

.avatar-container .avatar-thumbnail {
  margin: 0 auto;
  width: 166px;
  height: 166px;
}

/*************************************/

.modal-dialog {
  max-width: 400px;
}

.modal-dialog .modal-body {
  padding: 8px;
}

.modal-dialog #load-test-image {
  display: none;
  width: 0;
  height: 0;
}

.modal-dialog #close-modal-button {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
}

.modal-dialog #avatar-cropper {
  position: relative;
}

.modal-dialog #cropper-image {
  width: 100%;
}

.modal-dialog #feedback-label {
  position: absolute;
  display: none;
  width: 240px;
  left: 50%;
  bottom: 0px;
  margin-left: -120px;
  color: #efef3f;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: -1px 0 #3f3f3f, 0 1px #3f3f3f, 1px 0 #3f3f3f, 0 -1px #3f3f3f;
  z-index: 99;
  white-space: nowrap
}

/*************************************/

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container .flex-item {
  margin-top: 8px;
}

.flex-container .flex-button {
  /*padding: auto 6px;*/
  padding-left: 6px;
  padding-right: 6px;
  width: 60px;
}

.flex-container .flex-label {
  margin-left: 2px;
}

.flex-container #load-url-input {
  padding: 2px 5px;
}

/*************************************/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #2f2f2f;
}

.dropdown-submenu>a:after {
  content: " ";
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-left-color: #afafaf;
}

.dropdown-submenu .menu-item.item-red>a {
  color: #d03030;
}

.dropdown-submenu .menu-item.item-green>a {
  color: green;
}

/*************************************/
