/**
 * file: public/styles/user_profile.css
 */

/****  DEBUG SECTION *************************************/

.red-debug {
  border: 1px solid red !important;
}

.orange-debug {
  border: 1px solid orange !important;
}

.yellow-debug {
  border: 1px solid yellow !important;
}

.green-debug {
  border: 1px solid green !important;
}

.blue-debug {
  border: 1px solid blue !important;
}

.purple-debug {
  border: 1px solid purple !important;
}

.grey-debug {
  border: 1px solid grey !important;
}

.black-debug {
  border: 1px solid black !important;
}

/*
* { border: 1px solid black !important; }*/

/*
i { border: 1px solid red !important; }*/

/*
.row { border: 1px solid orange !important; }*/

/*
div[class^="col-"], div[class*=" col-"] { border: 1px solid green !important; }*/

/*
.display-none { display: none !important; }*/

/*
.display-block { display: block !important; }*/

/*
.display-inline { display: inline !important; }*/

/*
.display-inline-block { display: inline-block !important; }*/

/****  DEBUG SECTION ABOVE THIS LINE *********************/

/*
*, *::before, *::after { margin: 0; padding: 0; }*/

body {
  font-family: Cabin, sans-serif;
  padding-top: 50px;
}

.form-container {
  margin-top: 10px;
  max-width: 600px;
}

@media (max-width: 767px) {
  .form-container {
    width: 300px;
  }
}

.avatar-box {
  width: 166px;
}

.undo-button {
  /*visibility: hidden;*/
  margin-top: 8px;
  margin-bottom: 2px;
  cursor: pointer;
  opacity: 0.6;
}

.avatar-box .undo-button {
  margin-left: 12px;
}

.form-group .undo-button {
  margin-right: 12px;
}

.avatar-thumbnail {
  margin: 0 auto;
  width: 166px;
  height: 166px;
  cursor: pointer;
}

.control-label {
  margin-left: 12px;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.inline {
  display: inline;
}

.dimmed {
  opacity: 0.8;
}

.suspended {
  font-style: italic;
  margin: 0 auto;
  color: red;
}

.form-control {
  resize: none;
}

.form-button {
  margin: 6px 6px;
  width: 124px;
}

.horizontal-form {
  display: inline-block;
}

/*************************************/

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-text {
  margin: 13px 4px;
}

.navbar-brand {
  min-width: 140px;
}

.nested-list-header {
  cursor: pointer;
}

ul.nested-list {
  max-height: 300px;
  overflow-y: scroll;
}

ul.nested-list ul.list-children {
  display: none;
}

ul.nested-list ul.list-children-open {
  display: block;
}

ul.nested-list ul.list-children,
ul.nested-list ul.list-children-open {
  margin-right: 18px;
  white-space: nowrap;
  list-style-type: none;
}

ul.nested-list span.arrow-right,
ul.nested-list span.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
}

ul.nested-list span.arrow-right {
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #337ab7;
}

ul.nested-list span.arrow-down {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 8px solid #337ab7;
}

ul.nested-list li.list-child:hover {
  font-weight: bold;
}

ul.nested-list li.list-child {
  margin-bottom: 2px;
}

ul.nested-list li.list-child>a {
  color: #202020;
  text-decoration: none;
}

ul.nested-list .item-green>a {
  color: green;
}

ul.nested-list .item-red>a {
  color: #d03030;
}
